button, .button, .button_red {
    color: #ddd;
    background-color: #333;
    border: 1px solid rgba(180, 180, 180, 0.3);
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 5px 5px 8px rgba(70, 205, 79, 0.3);
}
button:hover, .button:hover {
    color: moccasin;
    background-color: #20608F;
    box-shadow: 4px 4px 16px grey;
}
.button_red {
    color: brown;
    border-color: #ffff0040;
}

.button_red:hover {
    color: red;
    box-shadow: 4px 4px 6px rgba(255, 0, 0, 0.3);
}

.nav_button:active, .bt:active, .bt_s:active, .bt_t:active, .bt.danger {
    top: 0px;
    box-shadow: 4px 4px 6px grey;
}
