.input_s {
    color: #ddd;
    background-color: #444;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
.input_s:hover {
    box-shadow: 2px 2px 5px darkseagreen;
}
textarea {
    color: #ccc;
    background: #444;
    border: 1px solid #ffe4b57a;
    box-shadow: 4px -4px 12px rgba(70, 205, 79, 0.3);
}

select {
    color: #ccc;
    background: #444;
    border: 1px solid #ffe4b57a;
}
