.img-style {
    box-shadow: 5px 5px 8px rgba(70, 205, 79, 0.4);
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.img-style:hover {
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 5px -5px 8px rgba(70, 205, 79, 0.4);
}
.ok, .cancel {
    border: 1px solid rgba(180, 180, 180, 0.3);
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 5px 5px 8px rgba(70, 205, 79, 0.3);
}
.ok {
    padding: 3px 4px 3px 4px;
}
.cancel {
    padding: 0px 1px 1px 0px;
}
.ok:hover, .cancel:hover {
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 5px -5px 8px rgba(70, 205, 79, 0.4);
}
