button, .button, .button_red {
    color: #333;
    background-color: #efefd3e6;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 6px 6px 8px rgba(70, 205, 79, 0.2);
}
button:hover, .button:hover {
    top: 1px;
    transition: .3s linear;

}
.button:hover {
    box-shadow: 4px 4px 6px darkseagreen;
}
button:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.button_red {
    color: brown;
    border-color: brown;
}
.button_red:hover {
    color: red;
    box-shadow: 4px 4px 6px rgba(255, 0, 0, 0.1);
}

.nav_button {
    color: black;
    background-image: linear-gradient(to right, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 85%, rgba(255,255,255,.5)),
                      linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144,.5) 45%, rgba(121, 219, 144, 0.5)), linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144,.5) 0%, rgba(121, 219, 144, 0.5) );
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: 3px 3px 6px grey;
}
.nav_button:hover {
    top: 1px;
    transition: .3s linear;
    /*background-color: #cfe8d8ff;*/
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: 4px 4px 16px grey;
}
.nav_button:active {
    top: 0px;
    box-shadow: 3px 3px 6px grey;
}
.nav_button:active, .bt:active, .bt_s:active, .bt_t:active, .bt.danger {
    top: 0px;
    box-shadow: 4px 4px 6px grey;
}
