{% extends 'base.html' %}

{% block title %}
{{ res_value('HEADS') }}
{% endblock %}

{% block main_title %}
{{ res_value('HEADS') }}
{% endblock %}

{% block navigate %}
{% endblock %}

{% block body %}
<form class="form_r" style="padding-left: 2%" method="POST">
    <div class="field">
        <label for="head_name">{{ res_value('HEAD_NAME') }}</label>
        <input class="input_s" type="text" name="head_name" minlength="3" maxlength="128" size="64" value="{% if head_name %}{{ head_name }}{% endif %}">
    </div>
    <br />
    <div><button class="bt_r" type="submit">{{ res_value('SAVE') }}</button></div>
</form>

<table class="table_common" style="width: 60%">
    <colgroup>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th><a>{{ res_value('ID_HEAD') }}</a></th>
            <th><a>{{ res_value('HEAD_NAME') }}</a></th>
            <th><a>{{ res_value('ACTION') }}</a></th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        {% for el in list_heads %}
        <tr>
            <td><a>{% if el.id_head %}{{ el.id_head }}{% endif %}</a></td>
            <td style="text-align:left; margin-left: 4px;"><a>{% if el.head_name %}{{ el.head_name }}{% endif %}</a></td>
            <td><a class="bt_r" href="/del-head/{{ el.head_name }}">{{ res_value('REMOVE') }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

