{{ define "title" }}{{ res_value "NEAR_BIRTH_DATE" }}{{ end }}

{{ define "main_title" }}{{ res_value "NEAR_BIRTH_DATE" }}{{ end }}

{{ define "navigate" }}{{ end }}

{{ define "info" }}<p>Дополнительная информация загружена успешно.</p>{{ end }}

{{ define "sidebar_menu" }}
    <!-- На главной странице выводим локальную закладку и кнопки ролей -->
    {{ template "navigate" . }}

    {{ if not .IsAnonymous }}
        <a class="nav_button" href="/time-off">{{ res_value "TIME_OFF" }}</a>

        {{ if or .HasSubordinates .IsAdmin .IsBoss }}
        <a class="nav_button" href="/list-to-approve">{{ res_value "LIST_APPROVE" }}</a>
        {{ end }}

        {{ if .IsAdmin }}
        <a class="nav_button" href="/secure-time-off">{{ res_value "SECURE_TIME_OFF" }}</a>
        {{ end }}

        {{ if or .HasSubordinates .IsAdmin .IsBoss }}
        <a class="nav_button" href="/all-list-time-off">{{ res_value "ALL_LIST_TIME_OFF" }}</a>
        {{ end }}

        {{ if .IsAdmin }}
        <!-- <a class="nav_button" href="/secure-list-time-off">{{ res_value "SECURE_LIST_APPROVE" }}</a> -->
        <a class="nav_button" href="/list-absent">{{ res_value "LIST_ABSENT" }}</a>
        {{ end }}

        <a class="nav_button" href="/new-message">{{ res_value "NEW_MESSAGE" }}</a>
        <a class="nav_button" href="/list-npa">{{ res_value "LIST_NPA" }}</a>
        <a class="nav_button" href="/">{{ res_value "NEAR_BIRTH_DATE" }}</a>
        <a class="nav_button" href="/static/nsi/PhoneRefer.pdf" target="_blank">{{ res_value "PHONE_REFER" }}</a>
        <a class="nav_button" href="/logout">{{ res_value "LOGOUT" }}</a>
    {{ else }}
        <a class="nav_button" href="/login">{{ res_value "LOGIN" }}</a>
    {{ end }}
{{ end }}

{{ define "body" }}
<table class="table_common">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>

    <thead>
        <tr>
            <th><a>{{ res_value "BIRTH_DATE" }}</a></th>
            <th><a>{{ res_value "EMPLOYEE" }}</a></th>
            <th><a>{{ res_value "POST" }}</a></th>
            <th><a>{{ res_value "DEP_NAME" }}</a></th>
        </tr>
    </thead>

    <tbody>
        {{ range .ListBD }}
        <tr>
            <td style="text-align: center;"><a>{{ .BirthDate }}</a></td>
            <td style="text-align: left"><a>{{ .Employee }}</a></td>
            <td style="text-align: left"><a>{{ .Post }}</a></td>
            <td style="text-align: left"><a>{{ .DepName }}</a></td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
