{{ define "title" }}{{ res_value "NEAR_BIRTH_DATE" }}{{ end }}

{{ define "main_title" }}{{ res_value "NEAR_BIRTH_DATE" }}{{ end }}

{{ define "navigate" }}{{ end }}

{{ define "info" }}
    <p>Дополнительная информация загружена успешно.</p>
{{ end }}

{{ define "sidebar_menu" }}
    <!-- На главной странице выводим локальную закладку и кнопки ролей -->
    {{ template "navigate" . }}

    {{ if not .IsAnonymous }}
        <a class="nav_button" href="/time-off">{{ res_value "TIME_OFF" }}</a>

        {{ if or .HasSubordinates .IsAdmin .IsBoss }}
        <a class="nav_button" href="/list-to-approve">{{ res_value "LIST_APPROVE" }}</a>
        {{ end }}

        {{ if .IsAdmin }}
        <a class="nav_button" href="/secure-time-off">{{ res_value "SECURE_TIME_OFF" }}</a>
        {{ end }}

        {{ if or .HasSubordinates .IsAdmin .IsBoss }}
        <a class="nav_button" href="/all-list-time-off">{{ res_value "ALL_LIST_TIME_OFF" }}</a>
        {{ end }}

        {{ if .IsAdmin }}
        <a class="nav_button" href="/list-absent">{{ res_value "LIST_ABSENT" }}</a>
        {{ end }}

        <a class="nav_button" href="/new-message">{{ res_value "NEW_MESSAGE" }}</a>
        <a class="nav_button" href="/list-npa">{{ res_value "LIST_NPA" }}</a>
        <a class="nav_button" href="/">{{ res_value "NEAR_BIRTH_DATE" }}</a>
        <a class="nav_button" href="/static/nsi/PhoneRefer.pdf" target="_blank">{{ res_value "PHONE_REFER" }}</a>
        <a class="nav_button" href="/logout">{{ res_value "LOGOUT" }}</a>
    {{ else }}
        <a class="nav_button" href="/login">{{ res_value "LOGIN" }}</a>
    {{ end }}
{{ end }}

{{ define "body" }}
<!-- Обертка .table-wrapper активирует тени, скроллбары и скругления из Блока 3 styles.css -->
<div class="table-wrapper scroll-x-y">
    <table>
        <colgroup>
            <col style="width: 15%;">
            <col style="width: 30%;">
            <col style="width: 25%;">
            <col style="width: 30%;">
        </colgroup>

        <thead>
            <tr>
                <!-- Пустые теги <a> удалены для правильного наследования цветов темы -->
                <th>{{ res_value "BIRTH_DATE" }}</th>
                <th style="text-align: left;">{{ res_value "EMPLOYEE" }}</th>
                <th style="text-align: left;">{{ res_value "POST" }}</th>
                <th style="text-align: left;">{{ res_value "DEP_NAME" }}</th>
            </tr>
        </thead>

        <tbody>
            {{ range .ListBD }}
            <tr>
                <!-- Инлайновое выравнивание оставлено, так как оно специфично для колонок -->
                <td style="text-align: center;">{{ .BirthDate }}</td>
                <td style="text-align: left;">{{ .Employee }}</td>
                <td style="text-align: left;">{{ .Post }}</td>
                <td style="text-align: left;">{{ .DepName }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
