{{ define "title" }}{{ res_value "SECURE_TIME_OFF" }}{{ end }}

{{ define "main_title" }}
    {{ res_value "SECURE_TIME_OFF" }}
    {{ if .Message }}&nbsp;&emsp;{{ .Message }}{{ end }}
{{ end }}

{{ define "navigate" }}{{ end }}
{{ define "info" }}{{ end }}

{{ define "body" }}
<!-- Форма административного добавления отгула -->
<form method="POST">
    <div class="field">
        <label for="employee">{{ res_value "EMPLOYEE" }}</label>
        <input class="input_s" type="text" id="employee" name="employee" maxlength="128" autocomplete="on">
    </div>
    <div class="field">
        <label for="dep_name">{{ res_value "DEP_NAME" }}</label>
        <input class="input_s" type="text" id="dep_name" name="dep_name" maxlength="128" autocomplete="off">
    </div>
    <div class="field">
        <label for="post">{{ res_value "POST" }}</label>
        <input class="input_s" type="text" id="post" name="post" maxlength="128" autocomplete="on">
    </div>
    <div class="field">
        <label for="date_out">{{ res_value "TIME_OUT" }}</label>
        <input class="input_s" type="datetime-local" id="date_out" name="date_out">
    </div>
    <div class="field">
        <label for="date_in">{{ res_value "TIME_IN" }}</label>
        <input class="input_s" type="datetime-local" id="date_in" name="date_in">
    </div>
    <div class="field">
        <label for="cause">{{ res_value "CAUSE" }}</label>
        <input class="input_s" type="text" id="cause" name="cause" maxlength="512" minlength="12" autocomplete="off">
    </div>
    <br>
    <!-- Использован наш новый стандарт кнопок из Блока 2 стилей -->
    <button class="btn" type="submit" name="edit_parms">{{ res_value "SAVE" }}</button>
    <br>
</form>

<!-- Зазор строго 5px сверху и снизу от линии, лишние теги <br> удалены -->
<hr style="border: 0; border-top: 1px solid var(--card-border); margin: 5px 0;">

<!-- Активируем нашу серую сетку в 1px, фиксацию шапки при прокрутке и кастомный 4px скроллбар -->
<div class="table-wrapper scroll-x-y">
    <table>
        <colgroup>
            <col style="width: 10%;"><col style="width: 12%;"><col style="width: 12%;">
            <col style="width: 18%;"><col style="width: 15%;"><col style="width: 15%;">
            <col style="width: 18%;"><col style="width: 10%;">
        </colgroup>
        <thead>
            <tr>
                <th>{{ res_value "REG_DATE" }}</th>
                <th>{{ res_value "TIME_OUT" }}</th>
                <th>{{ res_value "TIME_IN" }}</th>
                <th style="text-align: left;">{{ res_value "EMPLOYEE" }}</th>
                <th style="text-align: left;">{{ res_value "POST" }}</th>
                <th style="text-align: left;">{{ res_value "DEP_NAME" }}</th>
                <th style="text-align: left;">{{ res_value "CAUSE" }}</th>
                <th style="text-align: left;">{{ res_value "AGREE_HEAD" }}</th>
            </tr>
        </thead>
        <tbody>
            {{ range .ListTimeOff }}
            <tr>
                <td style="text-align: center;">{{ .EventDate }}</td>
                <td style="text-align: center;">{{ .TimeOut }}</td>
                <td style="text-align: center;">{{ .TimeIn }}</td>
                <td>{{ .Employee }}</td>
                <td>{{ .Post }}</td>
                <td>{{ .DepName }}</td>
                <td>{{ .Cause }}</td>
                <td>{{ .Head }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
